* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inria Serif', serif;
    background-color: #CACACA;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 50px 65px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    margin-right: 130px;
}

.logo img {
    width: 217x;
    height: 58px;
    display: block;
}

.nav-menu {
    display: flex;
    gap: 85px;
    flex-grow: 1;
    
}

.nav-menu::after {
    content: '';
    display: block;
    width: 211px; 
    flex-shrink: 0;
}

.nav-button {
    color: #00304E;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    transition: color 0.3s ease;
    padding: 0 30px; 
    margin: 0 -15px; 
    
}

.nav-button:hover {
    color:  #CACACA;
    background-color: #00304E;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #00304E; 
}






.section {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #CACACA;
    gap: 60px;
}

.card {
    background-color: #B9B9B9;
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 0 20px; 
    box-sizing: border-box;
    height: auto; 
    overflow: hidden; 
    border-radius: 12px;
}

.card img {
    width: 100%;
    max-width: 316px;
    height: 350px;
    object-fit: cover;
    display: block;
    margin-top: 20px;
    border-radius: 12px 12px 12px 12px;
}

.card-content {
    padding: 25px 2px;
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
}

.card h3 {
    color: #00304E;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 20px 0; 
    padding: 0 8px;
}

.card p {
    color: #00304E;
    font-size: 20px;
    line-height: 1.5;
    margin: 15px auto 0;
    text-align: center; 
    width: calc(100% - 4px); 
    max-width: 100%; 
    word-wrap: break-word; 
    padding: 0 2px; 
}






.section {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #CACACA;
    gap: 60px;
}

.card {
    background-color: #B9B9B9;
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 0 20px; 
    box-sizing: border-box;
    height: auto; 
    overflow: hidden; 
}

.card img {
    width: 100%;
    max-width: 316px;
    height: 350px;
    object-fit: cover;
    display: block;
    margin-top: 20px;
}

.card-content {
    padding: 25px 2px;
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
}

.card h3 {
    color: #00304E;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 20px 0; 
    padding: 0 8px;
}

.card p {
    color: #00304E;
    font-size: 20px;
    line-height: 1.5;
    margin: 15px auto 0;
    text-align: center; 
    width: calc(100% - 4px); 
    max-width: 100%; 
    word-wrap: break-word; 
    padding: 0 2px; 
}






.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 65px;
    background-color: #CACACA;
    gap: 60px;
}


.section:last-child {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.card {
    background-color: #B9B9B9;
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    height: auto; 
    overflow: hidden; 
    margin: 0 auto;
    border-radius: 12px;
}

.section:last-child .card {
    grid-column: 1;
    margin-left: 0;
    margin-right: auto;
}

.card img {
    width: 100%;
    max-width: 316px;
    height: 350px;
    object-fit: cover;
    display: block;
    margin-top: 20px;
}

.card-content {
    padding: 25px 2px;
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
}

.card h3 {
    color: #00304E;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 20px 0; 
    padding: 0 8px;
}

.card p {
    color: #00304E;
    font-size: 20px;
    line-height: 1.5;
    margin: 15px auto 0;
    text-align: center; 
    width: calc(100% - 4px); 
    max-width: 100%; 
    word-wrap: break-word; 
    padding: 0 2px; 
}






.footer {
    background-color: #00304E;
    padding: 60px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 65px;
}

.footer-logo img {
    width: 243px;
    height: 70px;
    object-fit: contain;
    
    
}

.footer-contacts {
    width: 287px;
    height: 113px;
    display: flex;
    flex-direction: column;
}

.contacts-title {
    font-weight: bold;
    font-size: 24px;
    color: #CACACA;
    width: 173px;
    height: 58px;
    margin-bottom: 17px;
}

.contacts-subtitle {
    font-weight: bold;
    font-size: 16px;
    color: #CACACA;
    width: 287px;
    height: 38px;
}

.footer-nav {
    width: 425px;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    column-gap: 60px;
}

.footer-nav-link {
    font-weight: bold;
    font-size: 24px;
    color: #CACACA;
    text-decoration: none;
    white-space: nowrap;
}

.footer-social {
    width: 223px;
    height: 48px;
    display: flex;
    gap: 41px;
}

.social-icon img {
    width: 47px;
    height: 47px;
}